/* line 1, ../sass/_home.scss */
* {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
}

/* line 13, ../sass/_home.scss */
body {
  width: 100%;
  margin: 0px;
}

/* line 18, ../sass/_home.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 22, ../sass/_home.scss */
.show {
  visibility: visible;
  opacity: 1;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 1000ms ease-in-out;
  /** Firefox **/
  -o-transition: all 1000ms ease-in-out;
  /** Opera **/
}

/* line 31, ../sass/_home.scss */
.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 1000ms ease-in-out;
  /** Firefox **/
  -o-transition: all 1000ms ease-in-out;
  /** Opera **/
}

/* line 41, ../sass/_home.scss */
.navBar {
  margin: 10px 0px;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border-bottom: 1px solid black;
}

/*body.home
{
    background-color:red;
    transition: background-color 2s ease-in-out;
    -webkit-transition: background-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out;
}*/
/* line 60, ../sass/_home.scss */
.navBar {
  position: absolute;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out;
  /** Firefox **/
  -o-transition: all 2s ease-in-out;
  /** Opera **/
}

/* line 68, ../sass/_home.scss */
.navIconsContainer {
  position: relative;
  width: 800px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  z-index: 9;
}

/* line 79, ../sass/_home.scss */
.navIcon {
  position: relative;
  float: left;
  width: 10%;
  height: 30px;
  box-sizing: border-box;
  margin: 0px 7%;
  background-color: black;
  z-index: 9;
  cursor: pointer;
}

/* line 92, ../sass/_home.scss */
.navIconText {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
}

/* line 99, ../sass/_home.scss */
.pages {
  margin-top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
}

/* line 106, ../sass/_home.scss */
.navEle.highlight {
  background-color: white;
  border: 1px solid black;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 1000ms ease-in-out;
  /** Firefox **/
  -o-transition: all 1000ms ease-in-out;
  /** Opera **/
}

/* line 117, ../sass/_home.scss */
.highlight .navIconText, .highlight .categoryText {
  color: black;
}

/* line 123, ../sass/_home.scss */
.pageCont, .homeText, .homeDesc {
  width: 100%;
}

/* line 127, ../sass/_home.scss */
.homeText {
  text-align: center;
  font-size: 5vw;
  color: #000;
  z-index: 10;
}

/* line 135, ../sass/_home.scss */
.homeDesc {
  text-align: center;
  font-size: 3vw;
  color: #000;
}

/* line 143, ../sass/_home.scss */
.subText {
  font-size: 2vw;
  color: #8e8b8b;
}

/* line 148, ../sass/_home.scss */
.homeImageContainer {
  height: 500px;
  width: 500px;
  float: left;
}

/* line 154, ../sass/_home.scss */
.homeImg {
  height: 100%;
  width: 100%;
  box-shadow: 2px 22px 50px -13px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/* line 1, ../sass/_portCat.scss */
.categoryItem {
  float: left;
  height: calc(50% - 40px);
  width: calc(50% - 40px);
  margin: 20px;
  background-color: black;
  cursor: pointer;
}

/* line 10, ../sass/_portCat.scss */
.categoryText {
  text-align: center;
  color: white;
  margin-top: 100px;
  font-weight: 700;
  font-size: 4.5vw;
}

/* line 1, ../sass/_portfolio.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/_portfolio.scss */
body {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* line 14, ../sass/_portfolio.scss */
body.designPage ::-webkit-scrollbar {
  display: block !important;
}

/* line 19, ../sass/_portfolio.scss */
.itemsCont {
  position: absolute;
}

/* line 25, ../sass/_portfolio.scss */
.item {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  height: 250px;
  position: relative;
  margin-top: 45px;
}

@media only screen and (max-width: 940px) {
  /* line 34, ../sass/_portfolio.scss */
  .item {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  /* line 41, ../sass/_portfolio.scss */
  .item {
    width: 100%;
  }
}
/* line 46, ../sass/_portfolio.scss */
.itemContent {
  margin: auto;
  display: table;
  width: 250px;
  height: 250px;
}

/* line 52, ../sass/_portfolio.scss */
.itemImgCont {
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  width: 200px;
}

/* line 60, ../sass/_portfolio.scss */
.itemImg {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-bottom: 1px solid black;
}

/* line 67, ../sass/_portfolio.scss */
.itemDescCont {
  position: absolute;
  bottom: 15px;
  width: 250px;
}

/* line 73, ../sass/_portfolio.scss */
.itemDesc {
  text-align: center;
  color: black;
  font-weight: 500;
}

/* line 78, ../sass/_portfolio.scss */
.homeImg {
  border-radius: 50%;
}

/* line 82, ../sass/_portfolio.scss */
.itemContent {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* line 93, ../sass/_portfolio.scss */
.dull {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/* line 102, ../sass/_portfolio.scss */
.highlight {
  box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

/* line 3, ../sass/_about.scss */
.aboutPage .leftCont {
  float: left;
  width: 200px;
}
/* line 8, ../sass/_about.scss */
.aboutPage .rightCont {
  float: right;
  width: calc(100% - 200px);
}

/* line 14, ../sass/_about.scss */
.mainTextCont {
  margin-top: 40px;
  padding: 10px;
}

/* line 19, ../sass/_about.scss */
.mainText {
  font-size: 3vw;
}

/* line 23, ../sass/_about.scss */
.listCont {
  margin-top: 20px;
  width: 270px;
  height: 200px;
  box-shadow: 7px 9px 36px -8px;
  margin: 50px;
  padding: 10px;
}

/* line 32, ../sass/_about.scss */
.listSplitCont {
  width: 50%;
  float: left;
}

/* line 37, ../sass/_about.scss */
.liHeaderText {
  text-align: center;
  padding-bottom: 11px;
  border-bottom: 1px solid;
}

/* line 1, ../sass/contact.scss */
.contactInfoCont {
  width: 50%;
  float: left;
}

/* line 6, ../sass/contact.scss */
.submitButton {
  border: solid 1px black;
  height: 40px;
  width: 65px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

/* line 15, ../sass/contact.scss */
.inputMsg {
  width: 95%;
}
