/* line 1, ../sass/_home.scss */
* {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
}

/* line 9, ../sass/_home.scss */
body {
  width: 100%;
  margin: 0px;
}

/* line 14, ../sass/_home.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 18, ../sass/_home.scss */
.show {
  visibility: visible;
  opacity: 1;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 1000ms ease-in-out;
  /** Firefox **/
  -o-transition: all 1000ms ease-in-out;
  /** Opera **/
}

/* line 27, ../sass/_home.scss */
.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 1000ms ease-in-out;
  /** Firefox **/
  -o-transition: all 1000ms ease-in-out;
  /** Opera **/
}

/* line 37, ../sass/_home.scss */
.homeText {
  top: 20%;
  text-align: center;
  font-size: 8vw;
  color: #000;
  z-index: 10;
}

/* line 46, ../sass/_home.scss */
.navBar {
  margin: 10px 0px;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border-bottom: 1px solid black;
}

/*body.home
{
    background-color:red;
    transition: background-color 2s ease-in-out;
    -webkit-transition: background-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out;
}*/
/* line 65, ../sass/_home.scss */
.navBar {
  position: absolute;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out;
  /** Firefox **/
  -o-transition: all 2s ease-in-out;
  /** Opera **/
}

/* line 73, ../sass/_home.scss */
.navIconsContainer {
  position: relative;
  width: 800px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  z-index: 9;
}

/* line 84, ../sass/_home.scss */
.navIcon {
  position: relative;
  float: left;
  width: 10%;
  height: 30px;
  box-sizing: border-box;
  margin: 0px 7%;
  background-color: black;
  z-index: 9;
  cursor: pointer;
}

/* line 97, ../sass/_home.scss */
.navIconText {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
}

/* line 104, ../sass/_home.scss */
.pages {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 111, ../sass/_home.scss */
.highlight {
  background-color: white;
  border: 1px solid black;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 1000ms ease-in-out;
  /** Firefox **/
  -o-transition: all 1000ms ease-in-out;
  /** Opera **/
}

/* line 122, ../sass/_home.scss */
.highlight .navIconText {
  color: black;
}

/* line 128, ../sass/_home.scss */
.pageCont {
  width: 100%;
}

/* line 132, ../sass/_home.scss */
.homeImageContainer {
  width: 40%;
  height: 100%;
}

/* line 137, ../sass/_home.scss */
.homeTextContainer {
  width: 60%;
  height: 100%;
}

/* line 142, ../sass/_home.scss */
.homeImg {
  height: 600px;
  width: 600px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

/* line 1, ../sass/_portCat.scss */
.categoryItem {
  float: left;
  height: calc(96% - 40px);
  width: 46%;
  margin: 2%;
  background-color: black;
  cursor: pointer;
}

/* line 10, ../sass/_portCat.scss */
.categoryText {
  text-align: center;
  color: white;
  margin-top: 44%;
  font-weight: 700;
  font-size: 5.5vw;
}

/* line 1, ../sass/_portfolio.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/_portfolio.scss */
body {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* line 14, ../sass/_portfolio.scss */
body.designPage ::-webkit-scrollbar {
  display: block !important;
}

/* line 19, ../sass/_portfolio.scss */
.itemsCont {
  position: absolute;
}

/* line 25, ../sass/_portfolio.scss */
.item {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  height: 200px;
  position: relative;
  margin-top: 45px;
}

@media only screen and (max-width: 700px) {
  /* line 34, ../sass/_portfolio.scss */
  .item {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  /* line 41, ../sass/_portfolio.scss */
  .item {
    width: 100%;
  }
}
/* line 46, ../sass/_portfolio.scss */
.itemContent {
  margin: auto;
  display: table;
}

/* line 50, ../sass/_portfolio.scss */
.itemImg {
  width: 200px;
  height: 200px;
}

/* line 55, ../sass/_portfolio.scss */
.itemImg, .homeImg {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: 1s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 1s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 1s ease-in-out;
}

/* line 65, ../sass/_portfolio.scss */
.itemImg:hover, .homeImg:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -webkit-transition: 1s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 1s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 1s ease-in-out;
}

/* line 76, ../sass/_portfolio.scss */
.desc {
  text-align: center;
  color: white;
}

/* line 80, ../sass/_portfolio.scss */
.homeImg {
  border-radius: 50%;
}
