/* line 6, ../sass/_home.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 10, ../sass/_home.scss */
.homePage {
  widht: 100vw;
  height: 100vh;
  color: #C0C0C0;
}

/* line 16, ../sass/_home.scss */
.homeText {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 100px;
  color: #fff;
  font-family: 'Fascinate', cursive;
}

/* line 25, ../sass/_home.scss */
.navBar {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: #fff;
}

/* line 34, ../sass/_home.scss */
.home {
  position: absolute;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 500ms ease-in-out;
  /** Firefox **/
  -o-transition: all 500ms ease-in-out;
  /** Opera **/
}

/* line 42, ../sass/_home.scss */
.navBar {
  position: absolute;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out;
  /** Firefox **/
  -o-transition: all 2s ease-in-out;
  /** Opera **/
}

/* line 50, ../sass/_home.scss */
.home {
  opacity: 1;
}

/* line 54, ../sass/_home.scss */
.hide {
  opacity: 0;
}

/* line 58, ../sass/_home.scss */
.navIconsContainer {
  position: relative;
  width: 800px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  z-index: 9;
}

/* line 69, ../sass/_home.scss */
.navIcon {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  margin: 10px 50px;
  background-color: #723B78;
  z-index: 9;
  cursor: pointer;
}

/* line 81, ../sass/_home.scss */
.navIconText {
  position: relative;
  top: 32%;
  text-align: center;
  color: white;
}

/* line 1, ../sass/_display.scss */
.pageCont {
  width: 100%;
  position: relative;
  float: left;
}

/* line 9, ../sass/_display.scss */
.thumbsContainer {
  overflow: hidden;
  border: 1px solid red;
}

/* line 14, ../sass/_display.scss */
.thumbsGroup {
  border: 1px solid blue;
  margin: auto;
}

/* line 19, ../sass/_display.scss */
.thumbs {
  float: left;
  border: 1px solid #723B78;
  background-color: #FFCC33;
  width: 150px;
  height: 150px;
  margin: 20px 5%;
  position: relative;
}
