.aboutTopCont
{
    width: 100%;
    float: left;
}
.aboutTopRight,.aboutTopLeft
{
    float:right;
}
.aboutTopLeft
{
    margin-top: 50px;
}
.aboutImgCont
{
    margin: 10px;
}
.abtImg
{
    width: 226px;
    height: 287px;
}

.aboutTextCont
{
    text-align: right;
    color: grey;
}
.aboutName
{
    font-weight: 600;
    font-size: 30px;
    color: #10d1ea;
}
.aboutDesc
{
    font-weight: 300;
    font-size: 24px;
    margin-top: 10px;
}
.descHighlight
{
    color: #10d1ea;
}

.downloadResumeBtn
{
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    width: 200px;
    height: 25px;
    color: white;
    background-color: #10d1ea;
    float: right;
    margin-top: 15px;
    line-height: 26px;
    cursor: pointer;
}
ul
{
    list-style: none;
}
.detailSub
{
    width: 50%;
    float: left;
}
.detailHeader
{
    font-weight: 800;
    font-size: 18px;
    color: grey;
}
.detailList
{
    text-align: center;
    font-size: 14px;
    float: left;
    color: grey;
}