.pageCont
{
    width: 100%;
    //height: calc(100%-120px);
    position: relative;
    float: left;
    //background-color: black;
}
.thumbsContainer
{
    overflow: hidden;
    border: 1px solid red;
}
.thumbsGroup
{
    border: 1px solid blue;
    margin: auto;
}
.thumbs
{
    float: left;
    border: 1px solid #723B78;
    background-color: #FFCC33;
    width: 150px;
    height: 150px;
    margin: 20px 5%;
    position: relative;
}
