body
{
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Fascinate', cursive;
}
::-webkit-scrollbar
{ 
    display: none; 
}
.homeText
{
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 100px;
    color: #000;
    font-family: 'Fascinate', cursive;
}
.navBar
{
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0px;
    left: 0px;
    background-color: #FFCC33;
}
.home
{
    position: absolute;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out; /** Firefox **/
    -o-transition: all 500ms ease-in-out; /** Opera **/
}
.navBar
{
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
.home
{
    opacity: 1;
}
.hide
{
    opacity: 0;
}
.navIconsContainer
{
    position: relative;
    width: 800px;
     top: 0px; 
     right: 0px;
     bottom: 0px;
     left: 0px;
    margin: auto;
     z-index: 9;
}
.navIcon
{
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: 10px 50px;
    background-color: #723B78;
    z-index: 9;
    cursor: pointer;
}
.navIconText
{
    position: relative;
    top: 32%;
    text-align: center;
    color: white;
}
