body
{
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Fascinate', cursive;
}
::-webkit-scrollbar
{ 
    display: none; 
}
.homePage
{
    widht: 100vw;
    height: 100vh;
    color: #C0C0C0;
}
.homeTextContainer
{
    width: 100vw;
    height: 100vh;
}
.homeText
{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: #000;
    font-family: 'Fascinate', cursive;
    z-index: 10;
}
.navBar
{
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0px;
    left: 0px;
    background-color: #fff;
}
.homePage
{
    position: absolute;
}
.navBar
{
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
.show
{
    visibility: visible;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1000ms ease-in-out; /** Firefox **/
    -o-transition: all 1000ms ease-in-out; /** Opera **/
    opacity: 1;
}
.hide
{
    opacity: 0;
    visibility: hidden;
}
.navIconsContainer
{
    position: relative;
    width: 800px;
    top: 0px; 
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    z-index: 9;
}
.navIcon
{
    position: relative;
    float: left;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    margin: 5px 7%;
    background-color: #723B78;
    z-index: 9;
    cursor: pointer;
    
}
.navIconText
{
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
}