*
{
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Fascinate', cursive;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
}
::-webkit-scrollbar
{ 
    display: none; 
}
.show
{
    visibility: visible;
    opacity: 1;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1000ms ease-in-out; /** Firefox **/
    -o-transition: all 1000ms ease-in-out; /** Opera **/
}
.hide
{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1000ms ease-in-out; /** Firefox **/
    -o-transition: all 1000ms ease-in-out; /** Opera **/
}
.homeTextContainer
{
    width: 100vw;
    height: 100vh;
}
.homeText
{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: #000;
    //font-family: 'Fascinate', cursive;
    z-index: 10;
}
.navBar
{
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0px;
    left: 0px;
    background-color: #fff;
}
.homePage
{
    position: absolute;
}
/*body.home
{
    background-color:red;
    transition: background-color 2s ease-in-out;
    -webkit-transition: background-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out;
}*/
.navBar
{
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
.navIconsContainer
{
    position: relative;
    width: 800px;
    top: 0px; 
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    z-index: 9;
}
.navIcon
{
    position: relative;
    float: left;
    width: 10%;
    height: 30px;
    box-sizing: border-box;
    margin: 5px 7%;
    background-color: black;
    z-index: 9;
    cursor: pointer;
    
}
.navIconText
{
    position: relative;
    top: 20%;
    text-align: center;
    color: white;
}
.pages
{
    margin-top:40px;
}
.highlight
{
    background-color: white;
    border: 1px solid black;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1000ms ease-in-out; /** Firefox **/
    -o-transition: all 1000ms ease-in-out; /** Opera **/
}
.highlight
{
    .navIconText
    {
        color : black;
    }
}