* {
    box-sizing: border-box;
}
body
{
    //background-color: black;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
body.designPage
{
    ::-webkit-scrollbar
    { 
        display: block !important; 
    }
}
.item {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    height: 250px;
    position: relative;
    margin-top: 45px;
}
@media only screen and (max-width: 940px){
    .item {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .item {
        width: 100%;
    }
}

.itemContent{
    margin: auto;
    display: table;
    width: 250px;
    height: 250px;
}
.itemImgCont
{
    position:absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 200px;
}
.itemImg
{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.itemDescCont
{
    position: absolute;
    bottom: 15px;
    width: 250px;
}
.itemDesc {
    text-align: center;
    color: black;
    font-weight: 500;
}
.homeImg
{
    border-radius: 50%;
}
.itemContent
{
     box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.dull
{
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);

}
.highlight
{
    box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.showMoreCont
{
    width: 100%;
}
.showMore
{
    height: 50px;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
}