.categoryItem
{
    float: left;
    height: calc(96% - 40px);
    width: 46%;
    margin: 2%;
    background-color: black;
    cursor : pointer;
}
.categoryText
{
    text-align: center;
    color: white;
    margin-top: 44%;
    font-weight: 700;
    font-size: 5.5vw;
}