* {
    box-sizing: border-box;
}
body
{
    //background-color: black;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
body.designPage
{
    ::-webkit-scrollbar
    { 
        display: block !important; 
    }
}
.itemsCont
{
    position: absolute;
}


.item {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    height: 200px;
    position: relative;
    margin-top: 45px;
}
@media only screen and (max-width: 700px){
    .item {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .item {
        width: 100%;
    }
}

.itemContent{
    margin: auto;
    display: table;
}
.itemImg
{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.itemImg, .homeImg {
    filter: grayscale(100%);
// Browser Specific
    -webkit-filter: grayscale(100%);
    -webkit-transition: 1s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 1s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 1s ease-in-out;
}
.itemImg:hover,.homeImg:hover
{
    filter: grayscale(0%);
// Browser Specific
    -webkit-filter: grayscale(0%);
    -webkit-transition: 1s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 1s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 1s ease-in-out;
}
.desc {
    text-align: center;
    color: black;
}
.homeImg
{
    border-radius: 50%;
}
