.categoryItem
{
    float: left;
    height: calc(50% - 40px);
    width: calc(50% - 40px);
    margin: 20px;
    background-color: black;
    cursor : pointer;
}
.categoryText
{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-weight: 700;
    font-size: 4.5vw;
}
.portCatPage
{
    height: calc(100% - 100px);
}