* {
    box-sizing: border-box;

}
body.portfolio
{
    background-color: black;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
.item {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    height: 200px;
    position: relative;
    margin-top: 45px;
}
@media only screen and (max-width: 700px){
    .item {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .item {
        width: 100%;
    }
}

.itemContent{
    margin: auto;
    display: table;
}

.itemImg {
    width: 200px;
    height: 200px;
}
.desc {
    text-align: center;
}

