.contactCont
{
    margin-left: 10px;
    color: #8a8e96;
}
.contactForm
{
    width: calc(100% - 20px);
    margin: 10px;
}
.topLabVal
{
    width: 100%;
    float: left;

    .labValPair
    {
        width: calc(50% - 10px);
        margin: 5px;
        float: left;
    }
}
.input,.inputMsg
{
    width: calc(100% - 10px);
    margin: 5px;
}
.submitButton
{
    height: 40px;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #10d1ea;
    color: white;
}
.contactInfoLeft,.contactInfoRight
{
    width: calc(50% - 50px);
    margin: 25px;
    float: left;
}
.contactInfoRight
{
    li,ul
    {
        padding: 0px;
        margin: 0px;
    }
}
.formHeader,.contactInfoHeader,.submitButton
{
    font-weight: 700;
}

a
{
    color: #10d1ea;
}
.addressText
{
    margin-left: 10px;
}
.subContact
{
    margin-bottom: 10px;
}
.contactInfoCont
{
    margin-top: 25px;
}